<launch>
  <arg name="use_forque" default="false" doc="Add camera and forque to URDF."/>
  <arg name="use_apriltag_calib" default="false" doc="Whether to compute the camera tranform in real-time using AprilTags (as opposed to using a static transform)."/>

  <arg name="tag_image_topic" default="/camera/color/image_raw" doc="Image topic for apriltag calibration" />
  <arg name="tag_camera_info" default="/camera/color/camera_info" doc="Camera Info topic for apriltag calibration" />
  <arg name="camera_transform" default="0.0804 0.0191 0.1372 0.0312 0.8066 0.0124 0.5901 j2n6s200_forque camera_link" doc="'X Y Z QW QX QY QZ frame_from frame_to' static transform between camera and robot when apriltag is not in use" />

  <!-- Base URDF File -->
  <group unless="$(arg use_forque)">
    <param name="robot_description"
          command="cat $(find ada_description)/robots_urdf/ada.urdf" />
  </group>

  <!-- Initialize F/T Sensor -->
  <group if="$(arg use_forque)">
      <param name="robot_description"
            command="cat $(find ada_description)/robots_urdf/ada_with_camera_forque.urdf"/>

      <!-- Configure the transform from the robot to the camera -->
      <group if="$(arg use_apriltag_calib)">    
        <!-- This transform specifies where the center of the tag is relative to the robot. The rotation should be such that looking straight at the tag (oriented correctly), x is right, y is up and z is towards you (out of the tag).Ensure the child frame here matches the param camera_calibration_tag/tag_to_camera_default_transform/parent_frame -->
        <node name="st_robot2tag" pkg="tf" type="static_transform_publisher" respawn="false" output="screen"
              args="0.014 0 0.035 0.5 0.5 0.5 0.5 j2n6s200_forque calibration_tag 10"/>

        <node name="camera_calibration_tag" pkg="libada" type="camera_calibration_tag.py" respawn="false" output="screen">
          <rosparam file="$(find libada)/config/gen2_apriltag.yaml" />
        </node>

        <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_detector" ns="camera_calibration_tag" output="screen">
          <remap from="image_rect" to="$(arg tag_image_topic)"/>
          <remap from="camera_info" to="$(arg tag_camera_info)"/>
        </node>
      </group>  
      <group unless="$(arg use_apriltag_calib)">
        <!-- If we are not using real-time-calibration, use a static transform -->
        <node name="st_robot2camera" pkg="tf" type="static_transform_publisher" respawn="false" output="screen"
              args="$(arg camera_transform) 10"/>
      </group>
  </group>
</launch>