<launch>

  <arg name="perception" default="true" doc="Boolean flag of whether to set up the perception on ADA" />
  <arg name="version" default="2" doc="Kinova Arm Version (JACO = 2, Kortex = 3)" />
  <arg name="dof" default="6" doc="Number of degrees of freedom in arm" />


  <!-- load controller configuration -->
  <!-- load based on version -->
  <rosparam file="$(find libada)/config/gen$(arg version)_$(arg dof)dof.yaml" command="load" />


  <group if="$(eval arg('version') == 2)">
    <!-- Camera Calibration -->
    <node name="st_joule2camera" pkg="tf" type="static_transform_publisher" respawn="false" output="screen"
            args="0.10909 0.0181061 0.0178372 2.8905 3.13479 1.59224 j2n6s200_joule camera_link 10"/>
    <!-- From realsense node -->
    <node name="st_camera2optical" pkg="tf" type="static_transform_publisher" respawn="false" output="screen"
            args="0 0.015 0 0.504 -0.5 0.499 -0.497 camera_link camera_color_optical_frame 10"/>
  </group>

  <!-- Define Map -->
  <node name="st_map2world" pkg="tf" type="static_transform_publisher" respawn="false" output="screen"
      args="0 0 0 0 0 0 1 map world 10"/>

  <!-- Publish Robot TF Tree -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
  <!-- load ada urdf -->
  <param name="robot_description"
        command="cat $(find ada_description)/robots_urdf/ada.urdf" if="$(eval arg('version') == 2)"/>
  <param name="robot_description"
        command="cat $(find kortex_description)/robots/gen3_6dof_vision.urdf" if="$(eval arg('version') == 3)"/>


  <group if="$(arg perception)">
    <!-- Simulated pose estimators -->
    <node pkg="food_detector"
          name="food_detector"
          type="run_sim_food_detector.py"
          output="screen" />

    <!-- Simulated pose estimator -->
    <node pkg="food_detector"
          name="face_detector"
          type="run_sim_face_detector.py"
          output="screen" />
  </group>

</launch>
